<% if session[:user_id] %>
name:  <%=	 @user.name %>
email:  <%=	 @user.email %>
img:  <img src="<%=	 @user.image %>" alt="user img">
<% else %>
  <a href='/auth/facebook'>Login with Facebook</a>
<% end %>